*{
    margin: 0;
    padding: 0;
}
.intro{
    margin: 100 20 30 300;
    color: white;
    position: relative;
    justify-content: center;
    border-left:5px solid aqua ;
    font-size: 30px;
    padding-left: 20px;
    
 
}
.intro h1{
     background: linear-gradient(to left,
  rgb(51 170 255), rgb(69 96 167), #5485c9,#2c5fa5, rgb(16, 52, 143), rgb(9, 7, 145) );
-webkit-background-clip: text;
color: transparent;
} 
