*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
   
}
.photos1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.photos1 img{
    transition:2s;
    border-radius: 10px;
    margin-bottom:30px ;
    margin-left: 30px;
    width:90%;

}

.photos1 img:hover{
    border-radius: 10px;
    box-shadow: 30px 30px 50px 0px black;
   
    width: 100%;
    z-index: 1;
    margin: 0;

}
@media screen and (max-width:768px) {
.photos{
    width: 100%;
    flex-direction: column;
    margin-left: 0px;
align-items: normal;

}
.photos1{
    width: 100%;
}
.photos1 img{
   margin-bottom: 20px;
   margin-left: 30px; 
   width: 412px;
   height: auto;
  

}
.photos1 img:hover{
    border-radius: 10px;
    box-shadow: 30px 30px 50px 0px black;
   
    width: 100%;
    z-index: 1;
    margin-left: 0;

}
}
